@page "/GroceryStore"
<h3>GroceryStore (@GroceryStorelist.Count(SingleFoodItem => !SingleFoodItem.IsDone)</h3>

<input placeholder="Search" @bind="newGroceryStoreTitle" />
<button @onclick="AddGroceryStore">Add FoodItem</button>

<ul>
    @foreach (var GroceryStore in GroceryStorelist)
    {
        @if (!GroceryStore.IsDone)
            
    {
        <li>        
            <input type="checkbox" @bind="GroceryStore.IsDone" />
            <input @bind="GroceryStore.Title" />
        </li>

    }
    }
</ul>

@code {
        private List<FoodItem> GroceryStorelist = new();
         private string newGroceryStoreTitle;
          public int[] Quantities { get; set; } 
          
        private void AddGroceryStore ()
        {
            FoodItem newItem;
        if (!string.IsNullOrWhiteSpace(newGroceryStoreTitle))

        {
             newItem = new FoodItem
            {
                Title = newGroceryStoreTitle
                @* IsDone = true *@
            };
            GroceryStorelist.Add(new FoodItem { Title = newGroceryStoreTitle });
            newGroceryStoreTitle = string.Empty;
        }
        }
   
    private bool GroceryStoreIsDone(FoodItem singleFoodItem)
    {
        return !singleFoodItem.IsDone;
    }
    
    
}
